body {
    background-color: rgb(252, 213, 213);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="color"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
}

.canvas-container {
    display: block;
    position: relative !important;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    cursor: move;
    border: 2px solid #FA245C;
}

.canvas {
    /* display: block; */
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0px;
    top: 0px;
    background-color: transparent;
}
.contur {
    position:absolute;
    top: 10px;
    left: 475px;
    /* top: -402px;
    left: 467px; */
    touch-action: none;
    user-select: none;
    z-index: -1;
}

.options {
    margin: 0 auto;
    padding: 0;
}

.option-list {
    position: relative;
    width: 75%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.option-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    text-align: center;
}

.show {
    display: block;
}

.hidden {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    display: none;
}
.form-list {
    display: flex;
    width: 59%;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
}

.form-option {
margin: 0 10px;
}

.img-wrapper {
    position: relative;
    width: 180px;
    height: 180px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.form-heart {
    position: absolute;
    width: 120px;
    height: 111px;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: -60.5px;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-triangle {
    position: absolute;
    width: 140px;
    height: 121px;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: -60.5px;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-rectangle {
    position: absolute;
    width: 120px;
    height: 70px;
    left: 50%;
    top: 23%;
    margin-left: -67px;
    border: 6px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -57px;
    top: 51%;
    margin-top: -65px;
    border: 6px solid black;
    border-radius: 50%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-heart:hover,
.form-circle:hover,
.form-rectangle:hover,
.big-form:hover,
.small-form:hover,
.big-heart:hover,
.big-rectangle:hover,
.small-rectangle:hover,
.small-heart:hover,
.big-circle:hover,
.small-circle:hover  {
    transform: scale(1.05);
}


.option-size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-wrapper {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#square-1,
#square-2,
#square-3,
#square-4 {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.size-wrapper .square-size {
    position: relative;
    width: 180px;
    height: 180px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.big-form {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 45%;
    margin-left: -63px;
    top: 48%;
    margin-top: -65px;
    border: 6px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-form {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 62%;
    margin-left: -64px;
    top: 61%;
    margin-top: -65px;
    border: 6px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.big-heart {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 47%;
    margin-left: -63px;
    top: 48%;
    margin-top: -65px;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-heart {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 66%;
    margin-left: -64px;
    top: 61%;
    margin-top: -65px;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.big-rectangle {
    position: absolute;
    width: 125px;
    height: 75px;
    left: 47%;
    margin-left: -63px;
    top: 48%;
    margin-top: -65px;
    border: 5px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-rectangle {
    position: absolute;
    width: 95px;
    height: 45px;
    left: 66%;
    margin-left: -80px;
    top: 56%;
    margin-top: -65px;
    border: 5px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.big-circle {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 47%;
    margin-left: -63px;
    top: 48%;
    margin-top: -65px;
    border: 5px solid black;
    border-radius: 50%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-circle {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 66%;
    margin-left: -64px;
    top: 61%;
    margin-top: -65px;
    border: 5px solid black;
    border-radius: 50%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}


.fa-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
    line-height: 50px !important;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.fa-icon:hover,
.mail-link:hover {
    background: #ef0d33;
    color: white;
    border-color: #ef0d33;
}

.img-prop {
    width: 12%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.controls-container {
    display: block;
    /* position: relative; */
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.text-controls {
    margin-bottom: 20px;
}

.mail-link {
    display: block;
    text-decoration: none;
    color: black;
    width:80px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid black;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border-radius: 5%;
    margin-bottom: 10px;
}