body {
    background-color: rgb(252, 213, 213);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="color"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="button"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
}

.canvas-container {
    display: block;
    position: relative !important;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    cursor: move;
    border: 2px solid #FA245C;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.canvas {
    /* display: block; */
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0px;
    top: 0px;
}

.options {
    margin: 0 auto;
    padding: 0;
}

.option-list {
    position: relative;
    width: 75%;
    height: 320px;
    display: flex;
    /* top: 100px; */
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.option-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    text-align: center;
}

.show {
    display: block;
}

.hidden {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    display: none;
}
.form-list {
    display: flex;
    width: 59%;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
}

.form-option {
margin: 0 10px;
}

.img-wrapper {
    position: relative;
    width: 180px;
    height: 180px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.form-heart {
    position: absolute;
    width: 120px;
    height: 111px;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: -60.5px;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-triangle {
    position: absolute;
    width: 140px;
    height: 121px;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: -60.5px;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-rectangle {
    position: absolute;
    width: 120px;
    height: 70px;
    left: 50%;
    top: 23%;
    margin-left: -67px;
    border: 6px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -57px;
    top: 51%;
    margin-top: -65px;
    border: 6px solid black;
    border-radius: 50%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.form-heart:hover,
.form-circle:hover,
.form-rectangle:hover,
.big-form:hover,
.small-form:hover,
.big-heart:hover,
.big-rectangle:hover,
.small-rectangle:hover,
.small-heart:hover,
.big-circle:hover,
.small-circle:hover  {
    transform: scale(1.05);
}

.option-form {
    top: 170px;
}

.option-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 340px;
}

.size-wrapper {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#square-1,
#square-2,
#square-3,
#square-4 {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.size-wrapper .square-size {
    position: relative;
    width: 180px;
    height: 180px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.big-form {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 45%;
    margin-left: -63px;
    top: 48%;
    margin-top: -65px;
    border: 6px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-form {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 62%;
    margin-left: -64px;
    top: 61%;
    margin-top: -65px;
    border: 6px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.big-heart {
    position: absolute;
    width: 105px;
    height: 105px;
    left: 47%;
    margin-left: -48px;
    top: 48%;
    margin-top: -65px;
    /* border-radius: 3%; */
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-heart {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 66%;
    margin-left: -64px;
    top: 61%;
    margin-top: -60px;
    /* border-radius: 3%; */
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.big-rectangle {
    position: absolute;
    width: 125px;
    height: 75px;
    left: 47%;
    margin-left: -63px;
    top: 48%;
    margin-top: -65px;
    border: 5px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-rectangle {
    position: absolute;
    width: 95px;
    height: 45px;
    left: 66%;
    margin-left: -80px;
    top: 56%;
    margin-top: -65px;
    border: 5px solid black;
    border-radius: 3%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.big-circle {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 47%;
    margin-left: -47px;
    top: 48%;
    margin-top: -70px;
    border: 5px solid black;
    border-radius: 50%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}

.small-circle {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 66%;
    margin-left: -68px;
    top: 61%;
    margin-top: -68px;
    border: 5px solid black;
    border-radius: 50%;
    -webkit-transition: all 0.26s ease-out;
    transition: all 0.26s ease-out;
}


.fa-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
    line-height: 50px !important;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.fa-icon:hover,
.mail-link:hover,
.next-btn:hover,
.submit-button:hover,
.back-btn:hover {
    background: #ef0d33;
    color: white;
    border-color: #ef0d33;
}

.img-prop {
    width: 22%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.controls-container {
    display: block;
    width: 100px;
    height: 300px;
    position: absolute;
    right: 177px;
    top: 100px;
    /* position: relative; */
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.control-label {
    display: block;
    margin-bottom: 5px;
}

.btn-wrapper {
    width: 300px;
    display: flex;
    margin: 0 auto;
}

.mail-link,
.next-btn,
.back-btn {
    display: block;
    text-decoration: none;
    color: black;
    width:80px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid black;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border-radius: 5%;
    margin-bottom: 10px;
}

.submit-button {
    display: block;
    text-decoration: none;
    color: black;
    background-color: transparent;
    width: 120px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid black;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border-radius: 5%;
    margin-bottom: 10px;
}

.form-price {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 132px;
    left: 78px;
}

.option-email {
    top: 100px;
}

.box {
    width: 50%;
    margin: 0 auto;
}

.php-form {
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

/* Select */
.select {
    position: relative;
    margin-bottom: 1rem;
}

.select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;

    position: absolute;
    top: 16px;
    right: -16px;
    z-index: 1;
    margin-top: -3px;
}

.select select {
    padding: 5px 10px;
    background: none;
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;

    font-family: inherit;
    font-size: 1rem;
    color: #000;
}

.form-control {
    font: inherit;
    display: block;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.11);
    border: 1px solid rgba(65, 65, 65, 0.2);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.form-control:hover {
    background-color: rgba(255, 255, 255, 1);
    outline: transparents;
}